repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format


  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest -q --cov=. --cov-report=term-missing
        verbose: true
        language: system
        pass_filenames: false
        always_run: true
